/*====================================== SECTION 3 ======================================================*/
.section3 > div > div > p{
  line-height: normal;
}

.section3_table table td {
  padding: 1.5rem;
  font-weight: 600;
  font-size: 15px;

  max-width: 300px;
  color: grey;
}

.section3_table table td:nth-child(2) {
  color: #000;
  background: #00cc9954;
  border-right: 1px dashed #00CC99;
  border-left: 1px dashed #00CC99;
  overflow: hidden;
}

@media  (max-width: 770px) {  
  .section3 > p {
    font-size: 30px;
    line-height: normal;
  }
  
  .section3_table table td:first-child {
    display: none;
  }
}

@media (max-width: 450px) {
  .section3_table table td {
    padding: 0.7rem;
    font-size: 13px;
  }
}