.products_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  text-align: center;
}

.product_container:hover div img {
  scale: 1.03;
  transition: all 0.3s ease-in-out;
}

.product_container {
  /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
  opacity: 0;
  animation: slideInTop 0.4s ease-in 1 forwards;
}

.add_btn {
  border: 1px solid var(--background-color);
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
}

.add_btn:hover {
  outline: 1px solid var(--background-color);
}

@keyframes slideInTop {
  0% {
    transform: translateY(20px);
    opacity: 0;
  } 100% {
    transform: translateY(0px);
    opacity: 1;
  }
}