
/*====================================== SECTION 2=======================================================*/

.section2 > div > div{
  display: flex;
  gap: 40px;
}

.section2_main_img > div {
  width: 100%;
  border-radius: 40px;
  overflow: hidden;
  padding-top: 48px;
  color: var(--grey-text);
  
  display: flex;
  flex-direction: column;
}

.section2_main_img > div > div > h1 {
  margin-bottom: 20px;
}

.section2_main_img div h1 span {
  font-weight: bold;
}

.section2_main_img div p {
  margin-bottom: 1rem;
}

.section2_main_img div a {
  color: var(--link-color) !important;
  display: flex;
  align-items: center;
  gap: 4px;
}


.section2_bottom > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section2_bottom > div > div{
  height: 40px;
  width: 40px;
  border: 2px dotted var(--link-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.section2_bottom > div > p > span {
  color: var(--text-color);
  font-weight: bold;
}

.section2_bottom > div > a {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--link-color);
}

/*====================================== SECTION 3 ======================================================*/
.section3 > div > p{
  font-size: 52px;
  line-height: 60px;
}

.section3_table table td {
  padding: 1.5rem;
  font-weight: 600;
  font-size: 17px;

  max-width: 300px;
  color: grey;
}

.section3_table table td:nth-child(2) {
  color: #000;
  background: #00cc9954;
  border-right: 1px dashed #00CC99;
  border-left: 1px dashed #00CC99;
  overflow: hidden;
}

/*====================================== SECTION 4 ======================================================*/
.section4 > div > div{
  align-items: center;
}

.discover_link > p > span:first-child{
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
}

.discover_link:hover > p {
  background: black;
}

.discover_link_others:hover > p {
  background: white;
}

.discover_link:hover .discover_link_link  > span:first-child{
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

.section4_grid > div {
  max-height: 750px;
}



.scroll_img {
  scrollbar-width: none;
}

.scroll_img div:first-child {
  animation: scroll 20s linear infinite;
}

.scroll_img div:last-child {
  animation: scroll 20s linear infinite reverse;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  } to {
    transform: translateX(-100px);
  }
}


/*====================================== MEDIA QUERIES ======================================================*/
@media  (max-width: 1200px) {
  /*===== SECTION2 MEDIA QUERY @1200px =======*/
  .section2 div h1 {
    font-size: 36px;
    line-height: normal;
  }

  .section2 div p {
    font-size: 1rem;
  }

  .section2_main_img > div > div > h1 {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  /*===================== SECTION 3 ==================*/
  .section3 > p {
    font-size: 45px;
    line-height: normal;
  }

  .footer_abs {
    display: none;
  }
}

@media  (max-width: 770px) {  
  /*===== SECTION2 MEDIA QUERY =======*/
  .section2 > div > div {
    flex-direction: column;
    gap: 20px;
  }

  /*===== SECTION4 MEDIA QUERY =======*/
  .section4 > div {
    flex-direction: column;
    gap: 20px;
  }

  .discover_link > div:first-child {
    padding: 40px;
  }

  .discover_link > p > span:first-child{
    display: none;
  }

  .section3 > p {
    font-size: 30px;
    line-height: normal;
  }

  .section4_table table td:nth-child(1) {
    display: none;
  }

  .section4_table table td {
    padding: 1.5rem;
    padding-inline: 1rem;
    font-size: 14px;
  }


  .section3_table table td:first-child {
    display: none;
  }
}

@media (max-width: 450px) {
  .section3_table table td {
    font-size: 12px;
    padding: 0.7rem;
    font-size: 14px;
  }

  .section2 iframe {
    height: 400px;
  }
}

/*===================== SEMI FOOTER ===========================================*/
.semi_footer {
  background: url('../../assets/ngrave/ngrave-bg7.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.footer_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 30px;
}

.footer_grid h2{
  margin-bottom: 5px;
  white-space: nowrap;
}

.footer_grid > div > h2 {
  color: grey;
  font-size: 13px;
}