.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  padding: 5px 15%;
  background: var(--background-color);
  position: fixed;
  width: 100%;
  z-index: 10;
  font-size: 0.9rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.btn {
  padding: 5px 25px;
  background: var(--span-text-color);
  border: none;
  border-radius: 5px;
  color: var(--background-color);
  font-size: 0.9rem;
}

@media  (max-width: 1500px) {
  .header {
    padding: 5px 3%;
  }

  .nav_list {
    gap: 2.5rem;
    font-size: 13px;
  }
}

@media  (max-width: 765px) {
  .nav_list,
  .btn {
    display: none;
    flex-direction: column;
  }
}