/*===================== SEMI FOOTER ===========================================*/
.semi_footer {
  background: url('../../../assets/ngrave/ngrave-bg7.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}