
.footer_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 30px;
}

.footer_grid h2{
  margin-bottom: 5px;
  white-space: nowrap;
}

.footer_grid > div > h2 {
  color: grey;
  font-size: 13px;
}